{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "templates/**/*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "static/**/*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "static/**/*.js",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
