{% extends 'layout.html' %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css"
/>

<link rel="stylesheet" href="{{ url_for('static', filename='markdown.css') }}" />

<article class="post-detail">
  <h1>{{ post.title }}</h1>

  <h2 class="meta">
    Por
    <a href="{{ url_for('user.profile', username=post.user_id) }}">{{ post.username }}</a> | {{
    post.created_at.strftime('%Y-%m-%d %H:%M') }}
  </h2>

  {% if current_user and current_user.id|string == post.user_id|string %}
  <div class="actions">
    <a href="{{ url_for('post.edit_post', post_id=post.id) }}">Editar</a>

    <form
      method="post"
      action="{{ url_for('post.delete_post', post_id=post.id) }}"
      style="display: inline"
      onsubmit="return confirm('¿Eliminar publicación?');"
    >
      <button type="submit" class="danger">Eliminar</button>
    </form>
  </div>
  {% endif %}

  <div class="body markdown-body">{{ markdown_content | safe }}</div>
</article>

<section class="comments">
  <h2>
    Comentarios (
    {% if comments is defined %}
    {{ comments|length }}
    {% else %}
    {{post.comments|length }}
    {% endif %} )
  </h2>

  {% if current_user %}
  <form method="post" action="{{ url_for('comment.add_comment', post_id=post.id) }}" class="form">
    <textarea name="content" rows="3"  placeholder="Escribe un comentario..." required></textarea>

    <button type="submit">Comentar</button>
  </form>
  {% else %}
    <a href="{{ url_for('login.login') }}">
      Inicia sesión para comentar.
    </a>
  {% endif %}

  <ul class="comment-list">
    {% if comments is defined %}
    {# --- Comentarios desde microservicio --- #}
    {% for c in comments%}
    <li>
      <div class="comment-meta">
        <div>
          {% if c.username is defined %}
          <a href="{{ url_for('user.profile', username=c.username) }}">
            {{ c.username }}
          </a>
          {% else %}
          <h5>Usuario {{ c.user_id }}</span>
          {% endif %}

          {{ c.created_at|safe }}
        </div>

        {% if current_user and ((c.user_id is defined and current_user.id|string == c.user_id|string) or current_user.id|string ==post.user_id|string) %}
        <form
          method="post"
          action="{{ url_for('comment.delete_comment', comment_id=c.id|string) }}"
          style="display: inline"
          onsubmit="return confirm('¿Eliminar comentario?');"
        >
          <button type="submit" class="btn-red">Eliminar</button>
        </form>
        {% endif %}
      </div>

      <div class="comment-body">{{ c.content|replace('\n', '<br />')|safe }}</div>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</section>
{% endblock %}
